@model IEnumerable<Book>

<h2>Manage Books</h2>

<div class="mb-3">
    <a href="/Admin/AddBook" class="btn btn-primary">Add New Book</a>
</div>

@foreach (var book in Model)
{
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">@book.BookName</h5>
            <p class="card-text">
                <strong>Genre: </strong> @book.Genre.GenreName
            </p>
            <a href="/Admin/EditBook/@book.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
}
